@font-face {
	font-family: 'HelveticaNeue';
	src: url('../font/HelveticaNeueCyr-Bold.otf');
	font-weight: normal;
	font-style: normal;
}
article{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	width: 673px;
	height: 497px;
	margin: 0 auto;
	background: url('../img/bg.jpg');
	background-size: 100% 100%;
}
#card-board{
    width: 267px;
    height: 326px;
    background: url("../img/cardboard.png");
}
section{
    position: relative;
    top: 16px;
	width: 236px;
	height: 289px;
    margin: auto;
    background: url("../img/paper.png");
}
section header{
    width: 236px;
    height: 53px;
    background: url("../img/torn-paper.png");

}
#add{
    width: 12px;
    height: 16px;
    position: relative;
    bottom: 58px;
    left: 214px;
    border: none;
    background: transparent url("../img/add.png") no-repeat;
}
.block {
    display: -webkit-box;
    -webkit-box-pack: center;
    font-family: 'HelveticaNeue';
    /*-webkit-box-align: end;*/
    position: relative;
    bottom: 106px;
    left: 186px;
    width: 64px;
    height: 20px;
    border: 1px solid #898a8c;
    border-radius: 3px;
    background: #6c6c6d;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    opacity: 0.5;
}
.block::after, .block::before {
    content: '';
    position: absolute;
    background: #6c6c6d;
    left: 27px;
    bottom: -4px;
    width: 8px; height: 8px;
    z-index: -1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.block::before {
    z-index: 1;
}
/*.block p{*/
    /*text-align: center;*/
    /*padding-top: 5px;*/
    /*font-size: 10px;*/
/*}*/
#add:hover, .block:hover{
    opacity: 0.5;
}

/*ul li{*/
    /*display: inline;*/
    /*border-right: ;*/
    /*width: 6px;*/
    /*height: 100%;*/
    /*padding-left: 60px;*/
    /*background: url("../img/hinges.png") no-repeat;*/
/*}*/

h1{
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: end;
    font-family: 'HelveticaNeue';
    font-weight: bold;
    color: #545556;
    position: relative;
    bottom: 25px;
}
.tasks{
    position: relative;
    bottom: 73px;
    left: 16px;
    float: left;
}
.tasks *{
    float: left;
}
.tasks .checkbox{
    border-style:inset;
    border-width:5px;
    border-color: #f00;
    border-radius: 3px;
}
.tasks p{
    position: relative;
    left: 24px;
    bottom: 16px;
}
.tasks #remove{
    position: relative;
    top: 3px;
    left: 100px;
    width: 11px;
    height: 12px;
    border: none;
    background: transparent url("../img/trash.png") no-repeat;
}





